.navbar {
    padding: 0 1.5rem;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.logo {
    width: 180px;
    height: 30px;
}