@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    /* Layout */
    --desktop-media-q: 1440px;
    --mobile-media-q: 375px;

    /* Colors */

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);

    /* Typography */

    --font-family-a: "Alata", sans-serif;
    --font-weight-a: 400;
    --font-family-j: "josefin sans";
    --font-weight-j: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: 'roboto flex', sans-serif;
}

img, picture, svg, video {
    max-width: 100%;
    display: block;
}

*, *::after, *::before {
    box-sizing: border-box;
}